//----------------------------------------------------
// Mixin: Placeholder
//----------------------------------------------------

//----------------------------------------------------
// / Browser - Pattern
//----------------------------------------------------

placeholder()
  &:placeholder-shown
    {block}
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    opacity: 1
    {block}
  &::-moz-placeholder
    opacity: 1
    {block}
  &:-ms-input-placeholder
    {block}