//----------------------------------------------------
// Dashi - Stylus
//----------------------------------------------------

@import 'variable/_breakpoint'
@import 'variable/_color'
@import 'variable/_font'
@import 'variable/_shadow'
@import 'mixin/_mediaquery'
@import 'mixin/_placeholder'